<div class=container>


  <nav>

    <%= link_to 'Login', login_path %> ||
    <%= link_to 'Sign up', new_user_path %>

  </nav>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button">Main button</button>
      <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
    </form>
  </nav>


  <h1>Ongoing Conflicts Around The World</h1>

  <nav>
    <%= link_to 'See all conflicts', conflicts_path %> ||
    <%= link_to 'See all continents', continents_path %>
  </nav>
</div>
