<h2>Welcome <%= @user.name %></h2>

email: <%= @user.email %><br><br>

<% if flash[:message].present? %>
  <strong><%= flash[:message] %></strong>
<% end %>
<hr>
Conflicts followed:<br>
<% @user.conflicts.each do |conflict|%>

  <%= link_to conflict.name, conflict_path(conflict.id) %><br>

<%end  %>
