/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Patua+One');


body{
  background-color: grey;
  padding: 30px 60px;
}

.logout{
  position: absolute;
  right: 60px;
  margin-top: -7px;
}

h1{
  font-family: 'Patua One', cursive;
}

h5{
  font-family: 'Patua One', cursive;
}

a{
  color: black;
  text-decoration: underline;
}

.display-1{
  background-image:url('https://cdn-images-1.medium.com/max/1600/1*1GXL5Rbqtpf94-9fAO2rDg.jpeg');
  max-height: 90vh;
  background-attachment: fixed;
}
