<h2 class='display-5'>Where we aren't getting along</h2>



  <%= link_to "New conflict?  Add here", new_conflict_path %>


  <% @conflicts.each do |conflict| %>
    <ul>

      <li><%= link_to conflict.name, conflict_path(conflict.id) %></li>
      <br>

    </ul>

  <% end %>
